.game {
  padding: 2rem 0;
  display: grid;
  place-content: center;
}

.player-choosing {
  background: url("../../assets/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  position: relative;
  width: 300px;
  height: 300px;
}

.player-choosing .first {
  position: absolute;
}
.player-choosing .second {
  position: absolute;
  right: 0;
}
.player-choosing .third {
  position: absolute;
  left: 30%;
  bottom: 0;
}

@media only screen and (min-width: 800px) {
  .game {
    padding-bottom: 0;
  }
  .player-choosing {
    width: 450px;
    height: 450px;
    background-size: 300px;
  }
}
